* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
.sliders {
  width: 100%;
  height: 100%;
  position: relative;
}
.sliders .slide {
  width: 100vw;
  height: 100vh;
  display: none;
  position: relative;
}
#head {
  height: 8vh;
  background-color: #d9e4e5;
  margin-top: 0;
  padding: 0;
}

.sliders .current {
  display: block;
  width: 100%;
  height: 100%;
}
.sliders .slide .slide-content {
  position: absolute;
  background-color: rgba(104, 104, 104, 0.767);
  color: white;
  padding: 20px 15px;
  bottom: 0;

  animation: anima;
  animation-duration: 2s;
  transition: all ease-in-out;
}
.slide:first-child {
  background: url("./img/guitar01-big.jpg") no-repeat;
  background-position: center;
  background-size: cover;
  height: 90vh;
}
.slide:nth-child(2) {
  background: url("./img/guitar02-big.jpg") no-repeat;
  background-position: center;
  background-size: cover;
  height: 90vh;
}
.slide:nth-child(3) {
  background: url("./img/pexels-pixabay-36762.jpg") no-repeat;
  background-position: center;
  background-size: cover;
  height: 90vh;
}
.slide:nth-child(4) {
  background: url("./img/pexels-pixabay-53957.jpg") no-repeat;
  background-position: center;
  background-size: cover;
  height: 90vh;
}

.next {
  font-size: 30px;
  font-weight: bold;
  position: absolute;
  right: 10px;
  top: 44%;
  color: white;
  cursor: pointer;
}
.prev {
  font-size: 30px;
  font-weight: bold;
  position: absolute;
  top: 44%;
  color: white;
  left: 10px;
  cursor: pointer;
}
@keyframes anima {
  from {
    left: -700px;
  }
  to {
    left: 0px;
  }
}
